.canle{
      padding: 50px;
      font-size: 30px;
      border-collapse: collapse;
    }
    div.header{

      height: 10%;
      clear: both;
      background-color: white;
    padding: 10px;
    }
  .main ul{
    list-style-type: none; 
  }
  .main li{
    float: left;
    padding: 0px;
  }
  .main a{
    padding: 10px 50px;
    text-decoration: none;
    font-size: 20px;
  }
  .main a:hover{
    background-color: red;
  }
  .main{
    height:7px;
    width: 100%;  
  }