body{
			background-color: #FFFFFF;

		}
		.container{
			width: 90%;
			margin: 0 auto;

		}
		.main ul{
			list-style-type: none; 
		}
		.main li{
			float: left;
			padding: 0px;
		}
		.main a{
			padding: 10px 50px;
			text-decoration: none;
			font-size: 30px;
		}
		.main a:hover{
			background-color: red;


		}
		.main{
			height:50px;
			width: 100%;
		}
		.login{
			text-decoration: none;
			list-style-type:none;
			border: 20px;
		}
		.khung{
			
			width: 25%;
			height: 400px;
			padding-top: 50px;
			padding-left: 50px;
			float: left;
			padding-right: 50px;
			background-color: #FAF5F5;
			padding-bottom:50px;
		}
		.anh{
			width: 100%;
			height: 100px;
			
		}
		.anh img{
			width: 100%;
			height:100px;
		
		}
		.ten{
			width: 100%;
			height: 20px;
			background-color: #F6F2F2;
			padding-top: 10px;
			

		}
		.bottom{
			padding-bottom: 20px
		}
		.price{
			padding-top: 10px;
			width: 100%;
			height: 20px;
			background-color: #FDEFEF

		}
		.content{
			width: 80%;
			height:550px;
		}
		.table{
			padding-top: 20px;
			width: 100%;
			height: 540px;
		}

		.table td{
			font-size: 20px;
			border-bottom: 2px solid #E2DFDF;
			line-height: 50px;
		}
		.under{
			padding-bottom: 2px;
		}